div.flex {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.flexItem {
  flex: 0 0 auto;
}

#main-panel {
  flex: 1 0 100%;
}

.panel-active {
  align-items: stretch;
}

.panel-active #main-panel {
  flex: 1 1 75%;
  transition: flex-basis 500ms;
}

.panel-active #detail-panel {
  flex: 1 1 25%;
  transition: flex-basis 500ms;
}

.panel-active .details-content {
  padding: 1rem;
  padding-top: 3rem;
  border: 1px solid black;
}
